{% extends 'base.html' %}
{% block title %} Book List {% endblock %}
{% load static %}
{% block content %}
    {% for book in books%}
   <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        {% if book.image %}
      <img style="width: 250px; height:250px;" src="{{ book.image.url }}" class="img-fluid rounded-start" alt="...">
        {% else %}
      <img style="width: 250px; height:250px;" src="{% static 'img/download.png' %}" class="img-fluid rounded-start" alt="...">
        {%endif%}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text"><small class="text-muted">{{ book.status }}</small></p>
        <a class="btn btn-warning" href="{% url 'create-order' book.id %}" role="button">Buy</a>
      </div>
    </div>
  </div>
       {%endfor%}
</div>
{% endblock %}
